In [1]:
#Import Libraries

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table-like data and matrices
import numpy as np
import pandas as pd

# Modelling Algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier

# Modelling Helpers
from sklearn.preprocessing import Imputer , Normalizer , scale
from sklearn.cross_validation import train_test_split , StratifiedKFold
from sklearn.feature_selection import RFECV

# Visualisation
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

# Configure visualisations
%matplotlib inline
mpl.style.use( 'ggplot' )
sns.set_style( 'white' )
pylab.rcParams[ 'figure.figsize' ] = 8 , 6

/srv/conda/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/srv/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv('../demo/train.csv')
test = pd.read_csv('../demo/test.csv')

In [3]:
train.head()

,id,rank_team1,total_points_team1,rank_team2,total_points_team2,is_team1_won
0,0,38.0,0.00,30.0,0.00,0
1,1,11.0,0.00,18.0,0.00,1
2,4,71.0,0.00,123.0,0.00,1
3,5,118.0,0.00,3.0,0.00,0
4,6,30.0,722.65,56.0,555.61,1

In [4]:
test.head()

   id  rank_team1  total_points_team1  rank_team2  total_points_team2
0   2        90.0               386.2        49.0               629.6
1   3       103.0                 0.0        18.0                 0.0
2   7        20.0                 0.0         7.0                 0.0
3   9         5.0                 0.0        67.0                 0.0
4  11        31.0                 0.0        16.0                 0.0

In [5]:
mod = LogisticRegression ()

In [8]:
X = train.drop(['id', 'is_team1_won'], axis=1).values
y = train['is_team1_won'].values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [12]:
mod.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
mod.score(X_train, y_train)

0.6728092783505155

In [14]:
prediction = mod.predict(test.drop(['id'], axis=1).values)

In [15]:
pd.DataFrame({
    'id' : test['id'],
    'is_team1_won': prediction
}).to_csv('mysubmission1.csv', index=False)